.user-page {
  padding-top: 48px;
  padding-bottom: 121px;
  &__wrapper {
    padding: 0 128px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $black;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 38px;
    & img {
      width: 8px;
      height: 14px;
      margin-right: 10px;
    }
  }
  &__title {
    color: $black;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }
}